//GLFW_ICON ICON "..gfx/misc/Corium_logo.ico"
id ICON "../gfx/misc/Corium_logo.ico"

1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080904E4"
    BEGIN
      VALUE "CompanyName", "Roninkoi"
      VALUE "FileDescription", "Corium game engine"
      VALUE "FileVersion", "1.0"
      VALUE "InternalName", "Corium"
      VALUE "LegalCopyright", "Roninkoi"
      VALUE "OriginalFilename", "Corium.exe"
      VALUE "ProductName", "Corium"
      VALUE "ProductVersion", "1.4"
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 1252
  END
END
